[Unit]
Description=Gunicorn daemon pour le site mariage
Requires=gunicorn-mariage.socket
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/mnt/mariage_data/BibiUnion

ExecStart=/mnt/mariage_data/BibiUnion/venv/bin/python -m gunicorn \
          --access-logfile /mnt/mariage_data/BibiUnion/logs/gunicorn-access.log \
          --error-logfile /mnt/mariage_data/BibiUnion/logs/gunicorn-error.log \
          --workers 2 \
          --timeout 120 \
          mariage.wsgi:application

[Install]
WantedBy=multi-user.target
